/*/////////////////////////// Layout .entete */

.entete {
    background-color: blanchedalmond;
    &__contenu {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      width: 75px;
      height: 75px;
    }
    /*  /////////////////////// Navigation */
    &__nav {
      margin: 0 2rem 0 auto;
    }
    &__menu {
      // ul
      display: flex;
      list-style-type: none;
      gap: 1rem;
    }
    &__menu-item {
      //li
  
      a {
        display: block;
        background-color: beige;
        &:hover {
          background-color: rgb(233, 227, 177);
        }
      }
    }
  }