/*/////////////////////////// Layout .entete */

.entete {
    background-color: #8fe2be9a;
    
    &__contenu {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
    &__logo {
      width: 75px;
      height: 75px;
      cursor: pointer;
    }

    /*  /////////////////////// Navigation */
    &__nav {
      margin: 0 2rem 0 auto;
    }
    &__menu {
      // ul
      display: flex;
      list-style-type: none;
      gap: 1rem;
    }
    &__menu-item {
      //li
  
      a {
        display: block;
        color: inherit;
        padding: .5rem;
        text-decoration: none;
        text-transform: uppercase;
        
        &:hover {
          color: rgb(252, 5, 182);
          border-radius: 10px;
        }
      }
    }
  }