/*/////////////////////////// Layout .galerie */

.galerie{
    max-width: 92% ;
    margin-left: auto;
    margin-right: auto;
    
    &__titre{
        
    }
    &__images{
        display: flex;
        flex-wrap: wrap;  
        max-width: 100%;
        gap: 10px;
        opacity: .9;
        
        
        & img{
            object-fit: cover;
            max-width: 350px;
            min-height:250px;
            border: 3px solid #403f3f;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

