/*/////////////////////////// Layout .hero */

.hero{
    height: 100vh;
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
    &__contenu{
        padding: 1rem;
        max-width: 80ch;
        position: absolute;
        top: 50px;
        left: 50px;
        background:linear-gradient(to bottom, rgb(212, 199, 178), rgba(194, 227, 84, 0.788), rgb(220, 220, 154)) ;
        border-radius: 25px;
        color: #000;
        margin-bottom: 30px; 
        padding: 20px ;   
    }
    
    &__titre{
        font-size: 40px;
        margin-bottom: 0; 
        margin-top: 0; 
        animation: anime-titre 1s .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; 
    }
    
    &__description{
        letter-spacing: 0.2px;
        margin-bottom: 30px; 
        animation: anime-description 1s .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; 
    }
    
    &__slogan{
        font-size: 18px;
        font-style: italic ;
        font-weight: bold;
        background-color: #c2e354ef;  
        padding: 5px 8px;
        border-radius: 8px;
    }
    
    &__bouton{
        background-color: #fc05b6 ;
        max-width: 27ch;
        text-align: center;
        padding: 1rem ;
        margin-top: 40px; 
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        box-shadow: 3px 3px 8px rgb(69, 68, 68);
      
        &:hover{
            background-color: #fff;//#3acb8d;
            color: #fc05b6;
        }
    }
    & a{
        text-decoration: none;
        color: inherit;
    }
    &__info{
        font-size: 12px;
    }
    &__icones-sociaux{
        cursor: pointer;
    }
}
@keyframes anime-titre{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes anime-description{
    0%{
        transform: translatex(-200px);
    }
    100%{
        transform: translatex(0);
    }
}
.carrousel{
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &__form{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

    }
}

