/*/////////////////////////// Layout .piedpage */

.piedpage{
   
    &__droit-auteur{
        background-color: rgb(5, 0, 3);
        font-size: 13px;
        text-align: center;
        padding: 10px;
        color: #fff;
        margin: 0;
    }
}